@import '~/assets/variables.scss';

@keyframes slideInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translateX(-2000px);
      -ms-transform: translateX(-2000px);
      transform: translateX(-2000px)
  }

  100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }
}

@keyframes slideInRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(2000px);
      -ms-transform: translateX(2000px);
      transform: translateX(2000px)
  }

  100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }
}

@keyframes slideOutLeft {
  0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }

  100% {
      opacity: 0;
      -webkit-transform: translateX(-2000px);
      -ms-transform: translateX(-2000px);
      transform: translateX(-2000px)
  }
}

@keyframes slideOutRight {
  0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }

  100% {
      opacity: 0;
      -webkit-transform: translateX(2000px);
      -ms-transform: translateX(2000px);
      transform: translateX(2000px)
  }
}

// .page-enter-active {
//   animation: slideInLeft .5s;
// }
// .page-leave-active {
//   animation: slideOutLeft .5s;
// }
// .page-enter, .page-leave-active {
//   animation: slideOutLeft .5s;
// }

.inline-calendar th {
  font-size: .16rem;
}

.calendar-header {
  font-size: .16rem !important;
}

.weui-toast {
  min-height: .1rem !important;
  font-size: .1rem;
}

.app-footer-container {
  position: fixed;
  bottom: 0;
  left: auto;
  right: auto;
  width: 3.75rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 .03rem #ddd;
}

.app-footer-button {
  text-align: center;
  padding: .12rem 0;
  background-color: #fff;
  color: $primary-color;
  font-size: .16rem;
  flex-grow: 1;
  &.invert {
    background-color: $primary-color;
    color: #fff;
  }
}
