@keyframes slideInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translateX(-2000px);
      -ms-transform: translateX(-2000px);
      transform: translateX(-2000px)
  }

  100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }
}

@keyframes slideInRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(2000px);
      -ms-transform: translateX(2000px);
      transform: translateX(2000px)
  }

  100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }
}

@keyframes slideOutLeft {
  0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }

  100% {
      opacity: 0;
      -webkit-transform: translateX(-2000px);
      -ms-transform: translateX(-2000px);
      transform: translateX(-2000px)
  }
}

@keyframes slideOutRight {
  0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0)
  }

  100% {
      opacity: 0;
      -webkit-transform: translateX(2000px);
      -ms-transform: translateX(2000px);
      transform: translateX(2000px)
  }
}

// .page-enter-active {
//   animation: slideInLeft .5s;
// }
// .page-leave-active {
//   animation: slideOutLeft .5s;
// }
// .page-enter, .page-leave-active {
//   animation: slideOutLeft .5s;
// }
